In [16]:
import csv
import numpy as np

csv_file_object = csv.reader(open('data/train.csv', 'r'))
header = csv_file_object.__next__()
data = []

for row in csv_file_object:
    data.append(row)
data = np.array(data)

In [14]:
print(data)

[['1' '0' '3' ..., '7.25' '' 'S']
 ['2' '1' '1' ..., '71.2833' 'C85' 'C']
 ['3' '1' '3' ..., '7.925' '' 'S']
 ...,
 ['889' '0' '3' ..., '23.45' '' 'S']
 ['890' '1' '1' ..., '30' 'C148' 'C']
 ['891' '0' '3' ..., '7.75' '' 'Q']]

In [15]:
print(data[:15,5])

['22' '38' '26' '35' '35' '' '54' '2' '27' '14' '4' '58' '20' '39' '14']

In [20]:
type(data[:,5])

numpy.ndarray

In [22]:
ages_onboard = data[:,5].astype(np.float)

ValueError: could not convert string to float: